body {
  margin: 0;
}

/* Thin and primary colored scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #40AA40;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e8b2e;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #40AA40 transparent;
}
