body {
  margin: 0;
}

/* Thin and primary colored scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}